{% extends "pagination.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans 'Users' %}</h1>

<table class="table table-striped">
<thead>
  <tr>
    <th>ID</th>
    <th>{% trans 'Username' %}</th>
    <th>{% trans 'Full name' %}</th>
    <th>{% trans 'Creation date' %}</th>
    <th></th>
  </tr>
</thead>

<tbody>
    {% for u in object_list %}
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.username }}</td>
      <td>{{ u.get_full_name }}</td>
      <td>{{ u.date_joined|date:"d.m.Y H:i" }}</td>
      
      <td>
        {% if user.is_authenticated %}
        {% if user == u %}
          <a href="{% url 'user_update' u.id %}">{% trans 'Edit' %}</a>
          <br>
          <a href="{% url 'user_delete' u.id %}">{% trans 'Delete' %}</a>
        {% endif %}
        {% endif %}
      </td>

    </tr>
    {% endfor %}

</tbody>
</table>

{% endblock %}