{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{{ title }}</h1>

{% if extra_info %}
<h4><a href="{% url 'change_password' %}">{% trans 'Change Password' %}</a></h4>
{% endif %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-danger" type="submit" value="{{ button_value }}">
    <input class="btn btn-primary" type="button" value="{% trans 'Cancel' %}" onclick="history.back();">
</form>
{% endblock %}