<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% trans 'Task Manager is a task management system. It allows you to set tasks, appoint executors and change their statuses.' %}">
    <title>{% trans 'Task Manager' %}</title>
    
  </head>
    <body class="d-flex flex-column min-vh-100" data-new-gr-c-s-check-loaded="14.1113.0" data-gr-ext-installed="">
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="{% url 'home' %}">{% trans 'Task Manager' %}</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_list' %}">{% trans 'Users' %}</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/statuses/">{% trans 'Statuses' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/labels/">{% trans 'Labels' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks/">{% trans 'Tasks' %}</a>
                </li>
                {% endif %}
            </ul>

            {% if not user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{% trans 'Log in' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">{% trans 'Sign up' %}</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input class="btn nav-link" type="submit" value="{% trans 'Log out' %}">
                </form>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% endblock nav %}
    <div class="container wrapper flex-grow-1">
    {% block messages %}

    {% if messages %}
    {% for message in messages %}
    {% bootstrap_alert message alert_type=message.tags %}
    {% endfor %}
    {% endif %}

    {% endblock messages %}

    {% block content %}
    {% endblock %}

    {% block pagination %}
    {% endblock %}

    </div>
    

    <footer>
        <div class="container my-5 pt-4 border-top">
            <a target="_blank" href="https://github.com/KsyushaKI">GitHub | KsyushaKI</a>
        </div>
    </footer>
  </body>
</html>
