{% extends 'base.html' %}
{% load i18n %}

{% block pagination %}

{% if page_obj.has_other_pages %}

{% if page_obj.has_previous %}
<a href="?page=1" class="btn btn-outline-secondary mx-0 btn-sm">{% trans 'First' %}</a>
<a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-secondary mx-0 btn-sm">{% trans 'Previous' %}</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if num == page_obj.number %}
  <span class="btn btn-secondary current-page mx-0 btn-sm">{{ num }}</span>
{% else %}
  <a href="?page={{num}}" class="btn btn-outline-secondary mx-0 btn-sm">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-secondary mx-0 btn-sm">{% trans 'Next' %}</a>
<a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-secondary mx-0 btn-sm">{% trans 'Last' %}</a>
{% endif %}

{% endif %}
{% endblock %}
